#about {
    height: auto;
    background-color: white;
}

.about-title {
    background-color: #eedd44;
}

.img-holder {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 20vw; */
    background-color: #fff0;
    background: linear-gradient(90deg, #0000 0%, #eedd4455 50%, #0000 100%);
}

/* .img-holder img {
    width: 400px;
} */

.img-holder .img-caption {
    padding: 0 2px;
    font-size: 14px;
    width: 500px;
    text-align: center;
    color: #4b4b4b;
}

@media (max-width: 500px) {
    .img-holder img,
    .img-holder .img-caption  {
        width: 100vw;
    }
    
    .img-holder {
        padding-top: 0px;
        padding-bottom: 0px;
        background: #fff0;
        /* box-shadow: 0px -3px 3px 0px #0003; */
    }

    .text-holder {
        border-top: 0 !important;
    }
}

.about-grid {
    /* background-color: red; */
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 6fr;
}

.text-holder {
    background-color: white;
    /* box-shadow: 0px -3px 3px 0px #0003; */
    padding-top: 16px;
    padding-bottom: 16px;
}

@media (max-width: 991px) {
    .about-grid {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
    }
    
    .text-holder {
        /* box-shadow: 0px -3px 3px 0px #0003; */
        border-top: 4px solid #00000015;
    }
    /* .img-holder {  */
        /* width: 100vw; */
        /* transform: translateX(-10%); */
        /* position: absolute; */
        /* } */
}

.img-courtesy {
    position: absolute;
    z-index: 900;
    background-color: white;
    color: black;
    opacity: 0.75;
    padding: 0 10px;
    border-radius: 0 0 15px 15px;
    position: relative;
    top: 26px;
    line-height: 1.65rem;
}

.journey-step  {
    color: blue;
}

.journey-step .date {
    color: rgb(134, 127, 29);
}

.journey-step {
    color: #131313;
}

.slide-in {
    opacity: 1;
    transform: translateX(0);
}

.slide-out {
    opacity: 0;
    transform: translateX(-75px);
}

.slide-in-margin {
    opacity: 1;
    margin-left: 0px;
}

.slide-out-margin {
    opacity: 0;
    margin-left: -75px;
}